.delete_button {
    transform: scale(.75);
    background-color: red;
}

.settings_button {
    transform: scale(.75);
    background-color: #618b4a;
    position: absolute;
    right: 5px;
    top: 5px;
}

mat-card-title {
    color: #e0e0ce;
}

mat-card {
    background-color: #618b4a;
}

mat-card-actions {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.widgetContainer {
    min-width: 200px;
    width: 20vw;
}

footer {
    display: block;
    padding: 80px;
  }