<div fxLayoutAlign="center">
    <button mat-button  (click)="addWidget()">+ Calendar</button>
    <button mat-button  (click)="createNewWeatherWidget()">+ Weather</button>
    <button mat-button  (click)="createNewStockWidget()">+ Stocks</button>
    <button mat-button  (click)="createNewForecastWidget()">+ Forecast</button>
</div>
<div fxLayout="row wrap" fxLayoutGap="15px grid" fxLayoutAlign="center" class="content">
    <app-calendar fxFlex="15%" *ngFor="let i of calendar_widgets" (delete)="removeWidget($event)"></app-calendar>
    <!-- <app-weather fxFlex="18%" *ngFor="let i of weather_widgets" (delete)="removeWeather($event)"></app-weather> -->
    <app-stocks fxFlex="20%" *ngFor="let i of stock_widgets" (delete)="removeStocks($event)"></app-stocks>
    <div fxFlex="15%" *ngFor="let widget of weather_widgets"> 
        <mat-card>
            <mat-card-title>{{widget.name}}</mat-card-title>
            <mat-card-subtitle>{{widget.country}}</mat-card-subtitle>
            <div class="weatherWidgetRow" style="font-size:28px;margin:top 5px;">{{((widget.temp - 273) * (9/5) + 32).toFixed(2)}} °f</div>
            <div class="weatherWidgetRow" style="font-size:15x;margin:top 10px;color: rgb(8, 8, 8);">Feels like: {{((widget.feels_like- 273) * (9/5) + 32).toFixed(2)}}°</div>
            <div class="weatherWidgetRow" style="font-size:12px;color: rgb(35, 90, 209);">Low: {{((widget.temp_min - 273) * (9/5) + 32).toFixed(2)}}°</div>
            <div class="weatherWidgetRow" style="font-size:12px;color: rgb(218, 55, 55);">High {{((widget.temp_max - 273) * (9/5) + 32).toFixed(2)}}°</div>
        </mat-card>
    </div>
</div>
