<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <mat-card class="aboutus-card">
      <mat-card-title>About Us</mat-card-title>
      <mat-card-content>
        <p>Our mission is to provide a web application with widgets displaying several data sources and features.</p>
      </mat-card-content>
      <div fxLayoutAlign="space-evenly center">
      <mat-card-actions>
          <div class="aboutus-button">
          <div style="border: 5px solid black;">
            <h1>Testing Container - delete this eventually</h1>
            <p>Must call login before get user</p>
            <p>Make sure to change vals in aboutus.component.ts to match user info in your db</p>
            <ng-container *ngIf="user">
              <h1>User: {{user.username}}</h1>
              <h1>Password: {{user.password}}</h1>
            </ng-container>
            <ng-container *ngIf="login">
              <h1>Logged in: {{login.username}}</h1>
              <h1>Token: {{login.token}}</h1>
            </ng-container>
          </div>
            <a mat-raised-button [routerLink]="['/login']">Log In</a>
          <a mat-raised-button color="primary" [routerLink]="['/new-user']">Sign Up</a>
          <button mat-raised-button (click)="getUser()">Call getUser()</button>
        <button mat-raised-button (click)="loginUser()">Call loginUser()</button>
          </div>
        </mat-card-actions>
        </div>
      </mat-card>
      </div>

