<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <mat-card class="aboutus-card">
      <mat-card-title>About Us</mat-card-title>
      <mat-card-content>
        <p>Our mission is to provide a web application with widgets displaying several data sources and features.</p>
      </mat-card-content>
      <div fxLayoutAlign="space-evenly center">
      <mat-card-actions>
          <div class="aboutus-button">
          <h1>{{login.username}}</h1>
          <h1>{{login.token}}</h1>
          <a mat-raised-button [routerLink]="['/login']">Log In</a>
          <a mat-raised-button color="primary" [routerLink]="['/new-user']">Sign Up</a>
          <button mat-raised-button (click)="getUser()">Call getUser()</button>
        <button mat-raised-button (click)="loginUser()">Call loginUser()</button>
          </div>
        </mat-card-actions>
        </div>
      </mat-card>
      </div>

