@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #e0e0ce;

}

body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #618b4a;
  background-color: #e0e0ce;
  
}
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #40531b !important;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

.plr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.material-icons {
  width: 24px;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
.full-width {
  width: 100%;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.matcardstyle {
  width: 40%;
  height: 30%;
  margin-top: 20vh;
}
input[type=text], input[type=password] {
  width: 60%;
  padding: 8px 20px;
  margin: 14px;
  box-sizing: border-box;
  border-radius: 16px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
label {
  justify-content: start;
}

