<mat-card>
    <mat-card-title>{{StockData["Meta Data"]["2. Symbol"]}}</mat-card-title>
    <div class="stockWidgetRow" style="font-size:32px;margin:top 5px;">{{(StockData["Time Series (Daily)"][ "2022-03-18"]["4. close"])}}$</div>
    <div class="stockWidgetRow" style="font-size:15x;margin:top 10px;">Low: {{StockData["Time Series (Daily)"][ "2022-03-18"]["3. low"]}}$</div>
    <div class="stockWidgetRow" style="font-size:15x;margin:top 10px;">High: {{StockData["Time Series (Daily)"][ "2022-03-18"]["2. high"]}}$</div>
    <div class="weatherWidgetRow" style="font-size:12px;">Volume: {{StockData["Time Series (Daily)"][ "2022-03-18"]["5. volume"]}}</div>
    <mat-card-actions>
        <form [formGroup]="form">
            <div formArrayName="widget" >
                <div [formGroupName]="0">
                    <input type="text" placeholder="stock" formControlName="stock" style="font-size: 8px">
                </div>
            </div>
        </form>
        <button mat-button (click)="onSubmit()">Change stock</button>
        <button mat-button (click)="removeSelf()">Remove</button>
    </mat-card-actions>
</mat-card>
<br>
