<mat-card>
    <mat-card-title>Calendar</mat-card-title>
    <div class="calendarWidgetRow" style="font-size:25px;">{{CalendarData.getMonth() + 1}}</div>
    <h1></h1>
    <div class="calendarWidgetRow" style="font-size:32px;margin:top 5px;">{{CalendarData.getDate()}}</div>
    <h1></h1>
    <div class="calendarWidgetRow" style="font-size:20px;margin:top 10px;">{{CalendarData.getFullYear()}}</div>
    <mat-card-actions>
      <button mat-button (click)="removeSelf()">Remove</button>
    </mat-card-actions>
</mat-card>
<br>